src/Makefile
src/*.so
src/*.dll
src/*.dylib
src/**/*_m.h
src/**/*_m.cc
src/veins_carla_dbg

doc/doxy
doc/neddoc

/bin/veins_run

/out

examples/**/results
examples/**/.tkenvrc
examples/**/.qtenvrc
examples/**/.cmdenv-log
examples/**/valgrind.out

subprojects/veins_catch/out
subprojects/veins_catch/bin/veins_catch_run
subprojects/veins_catch/src/*.dll
subprojects/veins_catch/src/*.dylib
subprojects/veins_catch/src/*.so
subprojects/veins_catch/src/Makefile
subprojects/veins_catch/src/veins_catch
subprojects/veins_catch/src/veins_catch_dbg
subprojects/veins_catch/src/veins_catch_sanitize

subprojects/veins_carla/conanbuildinfo.mak
subprojects/veins_carla/conanbuildinfo.txt
subprojects/veins_carla/conaninfo.txt
subprojects/veins_carla/conan.lock
subprojects/veins_carla/src/Makefile
subprojects/veins_carla/src/*.so
subprojects/veins_carla/src/*.dll
subprojects/veins_carla/src/*.dylib
subprojects/veins_carla/src/**/*_m.h
subprojects/veins_carla/src/**/*_m.cc
subprojects/veins_carla/out
subprojects/veins_carla/bin/veins_carla_run
subprojects/veins_carla/examples/**/results
subprojects/veins_carla/examples/**/veins-runall-output
subprojects/veins_carla/examples/**/.tkenvrc
subprojects/veins_carla/examples/**/.qtenvrc
subprojects/veins_carla/examples/**/.cmdenv-log
subprojects/veins_carla/examples/**/valgrind.out
